<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856417139998-22fv28s2njk3j73bph6r34t3cj9thq0r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856417139998-22fv28s2njk3j73bph6r34t3cj9thq0r</string>
	<key>API_KEY</key>
	<string>AIzaSyDMA3XgZVFTs1OsfwSD4UkEHez43rvi080</string>
	<key>GCM_SENDER_ID</key>
	<string>856417139998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test1</string>
	<key>PROJECT_ID</key>
	<string>test-auth-to</string>
	<key>STORAGE_BUCKET</key>
	<string>test-auth-to.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856417139998:ios:bae21f98ee3ae9e7e71d0f</string>
</dict>
</plist>